.heading {
    font-size: 2.25rem;
    font-family: Poppins-Bold;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--common-app-text);
    margin-bottom: 2.5rem;
}
.formContainer {
    padding: 1.875rem;
    border-radius: 8px;
    border: 1px solid var(--common-app-text);
    margin-bottom: 1.5rem;
}
.formHeading {
    font-size: 1.5rem;
    color: var(--text-color);
    font-family: Poppins-Medium;
    line-height: 1.2;
}
.inputsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 1.875rem;
}
.label {
    color: var(--text-color);
    font-family: Poppins;
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: 0.625rem;
}
.input {
    color: var(--text-color);
    font-family: Poppins;
    height: 3.75rem;
    width: 100%;
    outline: none;
    border: 1px solid var(--app-color);
    font-size: .875rem;
    padding: 0 1.25rem;
    border-radius: 5px;
}
.formBtn {
    height: 3.5rem;
    border-radius: 8px;
    background-color: #000;
    padding: 0 2.1rem;
    font-size: 1rem;
    color: #fff;
    font-family: Poppins;
    margin-top: 1.875rem;
}
label.formBtn {
    padding: 1rem 2.1rem;
    cursor: pointer;
    min-width: 200px;
    text-align: center;
}
.socilaAccount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.875rem 2.8125rem;
    border: 1px solid #ebf9f5;
    border-radius: 5px;
    margin-bottom: 1.25rem;
}
.socialAccountNameContainer {
    display: flex;
    align-items: center;
    width: calc(100% - 7.5rem);
}
.socialAccountIcon {
    font-size: 1.5rem;
    margin-right: 1.5rem;
}
.socialAccountName {
    font-size: 1rem;
    color: var(--text-color);
    font-family: Poppins;
    line-height: 1.1;
}
.socilaAccountStatus {
    font-size: 1.125rem;
    color: var(--app-color);
    font-family: Poppins-Medium;
    line-height: 1.1;
    cursor: pointer;
}
.formAngleUP {
    font-size: 1rem;
    color: var(--text-color);
    cursor: pointer;
    margin: 5px;
}
.formAngleUPClose {
    transform: rotate(180deg);
}
.formAngleUPOpen {
    transform: rotate(0deg);
}
.notification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.35rem 2.75rem;
    border: 1px solid #ebf9f5;
    border-radius: 5px;
    margin-bottom: 1.275rem;
}
.notificationHeading {
    font-size: 1.125rem;
    color: var(--text-color);
    font-family: Poppins;
    line-height: 1.2;
    margin-bottom: 0;
}
.notificationDetails {
    font-size: 1rem;
    color: #676d7d;
    font-family: Poppins;
    line-height: 2;
    margin-top: 0;
}
.switch {
    display: inline-block;
}
.span {
    position: relative;
    width: 60px;
    height: 34px;
    float: left;
}
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    border: 0;
    outline: none;
    background-color: #dcdcdc;
    transition: .4s;
    border-radius: 34px;
    cursor: pointer;
}
.checkbox {
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    border: none;
}
.input:checked+.slider {
    background-color: var(--app-color);
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    transition: .4s;
    border-radius: 50%;
}
.input:checked+.slider:before {
    transform: translateX(26px);
}
.input-error {
    border: 1px solid red;
}
.image-upload {
    input {
        display: none;
    }
}
@media (max-width: 767px) {
    .heading {
        font-size: 12px;
        margin-top: 3.3rem;
        font-size: 1.67rem;
        margin-bottom: 1.67rem;
    }
    .formContainer {
        padding: 2.1rem 1.1rem;
        margin-bottom: 1.67rem;
    }
    .formHeading {
        font-size: 1.33rem;
    }
    .inputsContainer {
        grid-template-columns: 1fr;
        gap: 1.2rem;
        margin-top: 1.2rem;
    }
    .label {
        font-size: 1.2rem;
    }
    .input {
        height: 3.75rem;
        font-size: 1rem;
        padding-left: 1.1rem;
    }
    .formBtn {
        height: 3.75rem;
        width: 100%;
        margin-top: 2.1rem;
    }
    .socilaAccount:not(:last-child) {
        border-bottom: 1px solid #ebf9f5;
    }
    .socilaAccount {
        padding: 0 0 1.33rem;
        border: none;
    }
    .socialAccountNameContainer {
        display: flex;
        align-items: center;
        width: calc(100% - 5rem);
    }
    .socialAccountIcon {
        font-size: 1.5rem;
        margin-right: 0.75rem;
    }
    .socialAccountName {
        font-size: 1.2rem;
        max-width: 70%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .socilaAccountStatus {
        font-size: 1rem;
    }
    .notification {
        padding: 0;
        border: none;
    }
    .notificationHeading {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }
    .notificationDetails {
        font-size: 1rem;
        margin-bottom: 0.7rem;
    }
    .slider:before {
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 2px;
    }
    .input:checked+.slider:before {
        transform: translateX(18px);
    }
    .span {
        width: 40px;
        height: 20px;
    }
}
